{{!--views/products.handlebars--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body>
    <h1 class="text-center">Todos los Productos</h1>
    <ul class="list-group">
        {{#each products}}
            <li class="list-group-item">
                <strong>{{this.title}}</strong> - ${{this.price}}
            </li>
        {{/each}}
    </ul>

</body>
</html>
