{{!--views/layouts/main.handlebars--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #2B3A30; /* Verde Oscuro */
            color: #D9D7B1; /* Beige Claro */
        }
        .card{
            color: #32322b; /* Beige Oscuro */
        }
        .list-group-item{
            color: #32322b; /* Beige Oscuro */
        }
        .navbar {
            background-color: #587D50; /* Verde Musgo */
        }
        .navbar-brand {
            color: #F3F2EE !important; /* Blanco Humo */
        }
        .navbar-nav .nav-link {
            color: #F3F2EE !important; /* Blanco Humo */
        }
    </style>
</head>
<body>
    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Artify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/realtimeproducts">Gestor de Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Carrito</a> <!-- Nuevo enlace al carrito -->
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {{{body}}}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
